<div class="category_list"><h4>Kategorie: <%= @title  %></h4></div>
<br>
<h2><%= @page_name  %></h2>
<hr>
<br>
<div class="text_container"><%= @text %></div>
<br>
<hr>

<a href="/pages/<%= @page.id %>/rename" class="button">Přejmenovat stránku</a>
&bull;
<a href="/pages/<%= @page.id %>/edit" class="button">Upravit stránku</a>
&bull;
<a href="/pages/<%= @page.id %>/history" class="button">Zobrazit historii úprav</a>
&bull;
<a href="/pages/<%= @page.id %>/discussion" class="button">Zobrazit diskuzi</a>
<br>
